body {
    background-color: #c4c1c1;
    font-family: Arial;
    margin: 20px;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

a {
    color: darkred;
    text-decoration: none;
}